<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Copy of SurveyonPartnersUniversal.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SurveyonPartners.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SurveyonPartnersTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5E142E4E1E6FD866002804A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E15B61B1E5EBA5C00FE0671</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E15B6241E5EBA5C00FE0671</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E15B6361E5EBB9A00FE0671</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
